.button-container {
  display: flex;
}

.button-container__numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  flex-grow: 3;
}

.button-container__operators {
  margin-left: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 20px;
}

.AC-container {
  display: flex;
  flex-grow: 1;
  margin-top: 20px;
}