.btn {
  padding: 10px;
  height: 20px;
  box-sizing: content-box;
  border: 2px solid tomato;
  color: white;
  background-color: tomato;
  cursor: pointer;
  flex-grow: 1;

  &:hover {
    pointer-events: auto;
    opacity: .8;
    color: tomato;
    background-color: white;
  }
  &:focus {
    box-shadow:0 0 0 4px aqua;
    opacity: .9 ;
  }
}

.AC-container .btn { 
  background-color: yellow;
  border: 2px solid yellow;
  color: tomato
}